
 <%- include('_header'); -%>

    <div class="h1">Hello, <%= brand %>  </div>
    <% feedbacks.forEach(feedback => { %>  
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= feedback.title %> </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= feedback.important %></h6>
          <p class="card-text"><%= feedback.description %></p>
          <% if (feedback.response) { %>
           
            <div class="alert alert-success" role="alert">
              <%= feedback.response %>
            </div>
            <% } %>
          <a href="#" class="card-link"><%= feedback.vote %></a>
          
            <% if (feedback.response) { %>
              <div class="mb-3">
                kayn reponse <%= feedback.response %> 
              </div>
             <% } else { %>
              <form action="/admin/dash/response/<%= feedback._id %>" method="POST">
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea required class="form-control" name="response" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
              </div>
            </form>
            <% } %>
            
            
          
          <!-- upvote model -->
          
        </div>
      </div>
    <% }) %>
    <%- include('_footer'); -%>