
    <%- include('_header'); -%>
    <div class="container">
      <div class="row">
        <div class="col">

          
          <div class="alert alert-success alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <p><%= Brand %> Thanks you for your Feedback.</p>
      <hr>
      <p class="mb-0">We will stay in touch for more details.</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% if (!locals.user ) { %>
      <div class="alert alert-danger " role="alert">
        Make sure to create account of login so we can publish your feedbakc to everyone.
      </div>
    <% } %>
    <div class="py-0 my-0 h1" ><%= feedbacks[0].title %></div>
    <div class="text-muted mb-4">
      <%= feedbacks[0].important %> | <%= feedbacks[0].from %>
    </div>
    <div class="h4" style="color:  rgb(240, 240, 240);">
      <%= feedbacks[0].description %>
    </div>
    
      </div>
    </div>
    </div>
    <%- include('_footer'); -%>