

    <%- include('_header'); -%>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="mb-3"><%= Brand %>  Inc.</h1>
        <p style="color:rgb(208, 208, 208)!important;">With its meticulous design, breathtaking speed and opinionated yet flexible workflows, Linear unlocks your team’s full potential. It is the tool of choice for high-performance teams to build products better.</p>
        <a target="_blank" style="color:rgb(69, 94, 181)!important;" class="btn fw-bold px-0" href="Goubba.com">Cliente.com</a>
        <br>
          <a target="_blank" style="color:rgb(69, 94, 181)!important;" class="btn fw-bold px-0" href="Goubba.com">Facebook</a><br>
          <a target="_blank" style="color:rgb(69, 94, 181)!important;" class="btn fw-bold px-0" href="Goubba.com">Linkedin</a><br>
          <a target="_blank" style="color:rgb(69, 94, 181)!important;" class="btn fw-bold px-0" href="Goubba.com">Instagram</a>
      </div>
      <div class="col-md-8">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-lg py-2 mb-4 w-100 text-light" style="background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Create Feedback
        </button>
        <!-- Modal -->
        <div class="modal modal-centered fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
              <div class="modal-header  bg-darklinear">
                <h5 class="modal-title" id="staticBackdropLabel">Create New Feedback</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body border-bottom-0 bg-darklinear">
                <form action="/feedback/create" method="POST">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input type="title" name="title" class="form-control  bg-dark text-light border  border-dark" placeholder="Title" id="exampleFormControlInput1" >
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <textarea class="form-control bg-dark text-light border  border-dark" placeholder="What is your Feedback" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <label for="exampleFormControlTextarea1" class="form-label">How important is to you ?</label>
                  <select class="form-select bg-dark text-light border  border-dark text-light" name="important" aria-label="Default select example">
                    <option class="text-light" value="nice-to-have">nice-to-have</option>
                    <option value="important">important</option>
                    <option value="critical">critical</option>
                  </select>
                  <hr>
                  <% if (user) { %>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label"><%= user %></label>
                      <input type="email" value=<%= user %> hidden name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                   <% } else { %>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Email address</label>
                      <input type="email" name="email" class="form-control bg-dark text-light border  border-dark" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                  <% } %>
                
              </div>
              <div class="modal-footer border-0 bg-darklinear">
                
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn text-light w-25" style="background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);">
                  Submit
                </button>
              </form>
              </div>
            </div>
          </div>
        </div>  
        <% feedbacks.forEach(feedback => { %>  
          <div class="card py-2 mb-4">
            <div class="card-body">
              <div class="mb-3 py-2">
                <span href="#" class=" align-items-center card-link h3 mb-5 px-3 py-2 rounded bg-dark text-light">
                  <span><%= feedback.vote.length %></span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 20">
                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                  </svg>
                </span>
              </div>
              <h5 class="card-title"><%= feedback.title %> </h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= feedback.important %></h6>
              <p class="card-text"><%= feedback.description %></p>
              <% if (feedback.response) { %>
                <div class="alert alert-success" role="alert">
                  <%= feedback.response %>
                </div>
              <% } %> 
              <div class="mt-4">

                <% if (user) { %>
                  <% if(feedback.vote.includes(user)){ %>
                <p href="" class="card-link text-success" href="" >Thank you for upvoting</p>
                <% } else { %>
                  <a href="/user/upvote/<%= feedback._id %> " id="btnupvote" class="btn  fw-bolder" href="" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 20">
                      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                    </svg>
                    Up-Vote
                  </a>
                  <% } %>
                  <% } else { %>
                    <!-- Button trigger modal -->
                    <button type="button" id="btnupvote" class="btn  fw-bolder" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 20">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                  </svg>
                   Up-Vote
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header text-light bg-darklinear">
                      <h5 class="modal-title text-light bg-darklinear" id="exampleModalLabel">Connect To Upvote the Feedback</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-light bg-darklinear">
                      Thank you for interacting please make sure to connect to your account of create a new account to continue
                    </div>
                    <div class="modal-footer text-light border-0 bg-darklinear">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <a type="button" href="/user/login" class="btn btn-primary">Connect</a>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
              
              <!-- upvote model -->
            </div>             
              
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
    

    

    <%- include('_footer'); -%>